*{margin: 0;
    padding: 0;
    box-sizing: border-box;
     }
     html{
        font-size: 16px;
     }
body{font-family: 'Noto Sans KR', sans-serif;
     }
ul li{
    list-style-type: none;
}
a {text-decoration: none;
color: inherit;}
    #pop1{display: none;}
    .popup_bg{
        background-color: rgba(0, 0, 0, 0.2); 
        width: 100%; height: 100%;
        position: fixed; top: 0;    }

    .popup{
        position: relative; 
        top: 50px; left: 50px;
        }
.popup>img{ width: 600px; height: 750px; }
    .close{background-color: black; 
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        padding: 15px 275px;
        position: absolute; 
        top: 800px; left: 50px;
        }    
    input[id="pop1"]:checked ~ .popup_bg{display: none;}
.inner{
 max-width: 1200px;
 margin: 0 auto;
}
#wrap{overflow-x: hidden;}
/******헤더******/
div .back{ background-image: url(../images/yudeung.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 100% ;    
}


header .inner{
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;   
    }

/*header .inner ul{  display: flex; }
header .inner li:last-child{padding-right: 0px;}
header .inner li{padding-right: 70px; font-size: 20px;}*/
#header .inner .gnb>li{
    float: left;
    padding: 0 20px;
    position: relative;
}
#header .inner .gnb>li>a {
    font-size: 20px;
    display: block;
    padding: 25px 30px;
}
#header .inner .gnb .depth2 {
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    text-align: center;
    width: 200px;
    background:  rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}
#header .inner .gnb .depth2 li a {
    display: block;
    font-size: 18px;
    padding: 10px 0;
}
#header .inner .gnb>li:hover .depth2{ display: block;}


div .inner img {
    width: 150px; height: 75px;
}
a:hover{ color: #eb660b;}
#quick {
    font-family: 'SBAggroB';
    text-align: center;
    position: fixed;
    right: 5%;
    top: 150px;
    z-index: 999;
    width: 60px;
    height: 800px;
    font-size: 26px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    }
    #and {color: rgb(215, 215, 215);}
    #water {color: #84c4ec;}
    #fire {color: #0067b1;}
    #light {color: #eb660b;}
    #heart {color: #00ae90;}
    #img {width:40px; height: 40px;}
    @font-face {
        font-family: 'SBAggroB';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

/*************slide1****************/
#slide1 {
    height: 600px;
    color : #fff;
    text-align: center;   
}
#slide1 #px33 {
    padding-top: 130px;
    font-size: 33px;
    font-weight: 300;
}
#slide1 #px52 {
    font-size: 52px;
    font-weight: bold
}
#slide1 #px28 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 60px;
  
}
#view {
    color: #000;
    text-align: center;
    margin: 0 auto;
   
    }
#box {
    background-color: #fff;
    padding: 15px 35px;
    width: 200px; height: 45px;
    border-radius: 25px;}

#box:hover{
    background-color: #eb660b;
    color: #fff;
}
#festival_na{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}
div #line2{
    background-color: #80bce4;
    position: relative;
    bottom: 330px;
    width: 320px; height: 10px;
    z-index: 1;}
#festival_img{
    width: 60%; height: 500px;
    background-image: url(../images/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}


/*************slide2****************/
.title {text-align: center; margin-top: 80px; margin-bottom: 80px;}
.title h3 {font-size: 38px; margin-bottom: 10px;}
.title p {font-size: 24px;}
#slide2 .inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#slide2 .slide_left{
    color: #fff ;
    text-align: center;
    height: 635px;
    width: 60%;
    font-size: 24px;
   
}

#slide2 .slide_right{
    color: #fff ;
    text-align: center;
    width: 470px;
    height: 635px;
    font-size: 24px;
    }
       
  
    #px710:hover{
        border: solid 5px #eb660b;
     /*   transform: translateY(-10%);*/
    
    } 
    #px711:hover{
        border: solid 5px #eb660b;
     /*   transform: translateY(-10%);*/
 
    
    } 
    #px345:hover{ 
        border: solid 5px #eb660b;
       /* transform: translateY(10%);*/

  
    } 
    #px346:hover{ 
        border: solid 5px #eb660b;
       /* transform: translateY(10%);*/

       
    } 
    #px470:hover{ 
       /* border: solid 5px #eb660b;
        transform: scale(1.5);
        transform-origin: center;
        
        z-index: 999;

        transform: translatex(10%);*/
        
    } 
  
    #slide2 #px710 {
        padding-top: 150px;
        width: 345px; height: 315px;
        background-image: url(../images/map.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #ccc;
        border-top-left-radius: 25px;
        text-shadow: 2px 2px 1px #000;
        float: left;
        
    }
    #slide2 #px711 {
        padding-top: 150px;
        width: 345px; height: 315px;
        margin-left: 20px;
        background-image: url(../images/s.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #ccc;
        text-shadow: 2px 2px 1px #000;
        float: left;
        
    }
    #slide2 #px345 {
        width: 345px; height: 300px;
        margin-top: 20px;
        padding-top: 135px;
        background-image: url(../images/d.jpg);
        background-repeat: no-repeat;
        background-size: cover; 
        float: left;
        background-color: #ccc;       
        border-bottom-left-radius: 25px;
        text-shadow: 2px 2px 1px #000;
    }
    
    #slide2 #px346 {
        width: 345px; height: 300px;
        margin-left: 20px;
        margin-top: 20px;
        padding-top: 135px;
        background-image: url(../images/c.jpg);
        background-repeat: no-repeat;
        background-size: cover; 
        float: left;
        background-color: #ccc;
        text-shadow: 2px 2px 1px #000;
        
    }
    #slide2 #px470 {
        width: 470px; height: 635px;
        padding-top: 300px;
        background-image: url(../images/p.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%; 
        background-color: #ccc;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        text-shadow: 2px 2px 1px #000;
        transition: 1s;
    }
    
  



/*************slide3****************/
#slide3 {
    height: 410px;
}
div .left_txt {
    background-color: #0968aa;
    float: left;
    width: 60% ;
    height: 480px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
div .event{
    position: relative;
}
div #text1 {
    color: #fff;    
    position: absolute;
    bottom: 60px;
}
div #hamo{
    position: absolute;
    top: 30px ;
    left: 310px;
}
div #hamo img{    
    width: 150px;
    height: 200px;
}
div #line{
    background-color: #17a68a;
    position: absolute;
    bottom: 130px;
    left:10px;
    width: 260px; height: 10px;
    z-index: 1;
} 
div .right_list{
    float: right;
    width: 55%;
    position: relative;
    bottom: 350px;
  /*  background-image: url(../images/1.jpg);
    background-size: cover; */   
}


div #t1 {
    font-size: 30px;
    font-weight: bold;
}
div #t2 {
    font-size: 24px;
    font-weight: 300;
    position: relative;
    z-index: 999;
}
div #t3 {
    font-size: 18px;
    font-weight: 100;
}
/*************footer****************/

footer{
    clear: both;
    height: 200px;
    background-color: #000;
    color :#fff;
    display: flex;   
    align-items: center;
}
footer .inner {width: 100%;}
footer .f_info {margin-bottom: 20px;}


















@media screen and (max-width: 1024px){
    header .top_btn{display: none;}
    nav li{display: none;}
    nav{position: relative;}
    nav .nav_btn{position: absolute;
    right: 0;
    bottom: 12px;}
    section img{width: 100%;}
    
}
