*{margin: 0;
    padding: 0;
    box-sizing: border-box;
     }
     html{
        font-size: 16px;
     }
body{font-family: 'Noto Sans KR', sans-serif;
     }
ul li{
    list-style-type: none;
}
a {text-decoration: none;
color: inherit;}
    
    input[id="pop1"]:checked ~ .popup_bg{display: none;}
.inner{
 max-width: 1200px;
 margin: 0 auto;
}
#wrap{overflow-x: hidden;}
/******헤더******/
 div .back{ 
    position: relative; 
}


header .inner{
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: relative;
    }

/*header .inner ul{  display: flex; }
header .inner li:last-child{padding-right: 0px;}
header .inner li{padding-right: 70px; font-size: 20px;}*/
header{background-color: #000;}
#header .inner .gnb>li{
    float: left;
    padding: 0 20px;
    position: relative;
}
#header .inner .gnb>li>a {
    font-size: 20px;
    display: block;
    padding: 25px 30px;
}
#header .inner .gnb .depth2 {
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    text-align: center;
    width: 200px;
    background:  rgb(0, 0, 0);
    padding: 10px 0;
}
#header .inner .gnb .depth2 li a {
    display: block;
    font-size: 18px;
    padding: 10px 0;
}
#header .inner .gnb>li:hover .depth2{ display: block;}


div .inner img {
    width: 150px; height: 75px;
}
a:hover{ color: #eb660b;}
#quick {
    font-family: 'SBAggroB';
    text-align: center;
    position: fixed;
    right: 5%;
    top: 150px;
    z-index: 99;
    width: 60px;
    height: 800px;
    font-size: 26px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    }
    #and {color: rgb(215, 215, 215);}
    #water {color: #84c4ec;}
    #fire {color: #0067b1;}
    #light {color: #eb660b;}
    #heart {color: #00ae90;}
    #img {width:40px; height: 40px;}
    @font-face {
        font-family: 'SBAggroB';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

/*************slide1****************/
#slide1 {
    height: 600px;
    color : #fff;
    text-align: center;   
}
#slide1 #px33 {
    padding-top: 130px;
    font-size: 33px;
    font-weight: 300;
}
#slide1 #px52 {
    font-size: 52px;
    font-weight: bold
}
#slide1 #px28 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 60px;
  
}
#view {
    color: #000;
    text-align: center;
    margin: 0 auto;
   
    }
#box {
    background-color: #fff;
    padding: 15px 35px;
    width: 200px; height: 45px;
    border-radius: 25px;}

#box:hover{
    background-color: #eb660b;
    color: #fff;
}
#img2 {
    width: 700px ; height: 1500px;
    margin: 0 auto;
    background-image: url(../images/12.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;

}

.title{
    text-align: center;
    font-size: 32px;
    margin-top: 70px;
}

footer{
    margin-top: 70px;
    clear: both;
    height: 200px;
    background-color: #000;
    color :#fff;
    display: flex;   
    align-items: center;
}
footer .inner {width: 100%;}
footer .f_info {margin-bottom: 20px;}


